<div class="grid justify-content-center align-content-stretch p-2">
  <div class="p-col-12 p-md-4 p-lg-4 p-2" *ngFor="let customer of customers">
    <div class="p-card p-shadow-2 h-100">
      <div class="p-card-header justify-content-between flex">
        <h5>{{ customer.name }}</h5>
        <div>
          <p-button
            type="button"
            icon="pi pi-bars"
            (click)="showMenu($event, customer)"
            styleClass="p-button-sm"
          ></p-button>
          <p-menu #cm [model]="menuItems" [popup]="true"></p-menu>
        </div>
      </div>
      <div class="p-card-body">
        <p>Customer Number: {{ customer.number }}</p>
        <p>Country: {{ customer.country }}</p>
        <p>City: {{ customer.city }}</p>
      </div>
    </div>
  </div>
</div>


<p-accordion>
  <p-accordionTab
    header="Header 1"
    [headerStyle]="{ color: 'red', 'background-color': 'yellow' }"
  >

  
  </p-accordionTab>
  <p-accordionTab header="Header 2" [headerStyle]="{ color: 'blue' }">
    content
  </p-accordionTab>
</p-accordion>
<button
  pButton
  type="button"
  label="Show Menu"
  (click)="menu.toggle($event)"
></button>
<p-menu #menu [popup]="true"> </p-menu>


<form [formGroup]="searchForm" (ngSubmit)="search()">
  <div>
    <input type="text" formControlName="country" placeholder="Country">
    <input type="text" formControlName="city" placeholder="City">
    <input type="text" formControlName="turnover" placeholder="Turnover">
    <button type="submit">Search</button>
    <button type="button" (click)="reset()">Reset</button>
  </div>
</form>